*
{
	margin: 0;
	outline: none;
	transition: font-size 0.1s, padding 0.1s, margin 0.1s, height 0.1s, width 0.1s, top 0.1s, left 0.1s, right 0.1s, bottom 0.1s, box-shadow 0.1s, color 0.1s, border 0.1s;
	list-style-type: none;
}
body
{
	font-family: sans;
	color: #111;
	background: #eee;
	margin: 0;	
}
h1, .widget
{
	box-shadow: 0.25em 0.25em 1em #ccc;
}
h1
{
	text-align: center;
	background: #111;
	color: #eee;
	margin: 0;
	padding: 1em 0.3em 0.1em 0.3em;
	font-size: 1.25em;
}
main > section > label
{
	display: block;
	margin: 0.5em 0.5em 0 0.5em;
	border-top: 0.1em solid #aaa;
	color: #aaa;
	font-size: 1.25em;
	cursor: pointer;
	padding-left: 1.5em;
	position: relative;
}
main > section > label::before
{
	content: "-";
	color: inherit;
	display: inline-block;
	text-align: center;
	width: 0.8em;
	position: absolute;
	left: 0;
	line-height: 1em;
	top: 50%;
	margin-top: -0.5em;
}
.toggle:checked + label::before
{
	content: "+";
}
main > section > label:hover
{
	color: #666;
	border-color: #666;
}
main > section > ol
{
	margin: 0;
	padding: 0;
}
.toggle
{
	display: none;
}
.toggle:checked ~ ol
{
	display: none;
}
.widget
{
	display: block;
	margin: 0.5em;
	padding: 0.5em;
	background: #fff;
	color: #eee;
	border-radius: 0.5em;
	cursor: pointer;
	position: relative;
	transition: opacity 0.2s;
	min-height: 4em;
	vertical-align: top;
	overflow: hidden;
}
.widget > :not(h2)
{
	padding-bottom: 0.25em;
}
.widget.pending
{
	opacity: 0.5;
}
.widget:not(.status-dead):hover,
.widget:not(.status-dead):focus
{
	box-shadow: 0.25em 0.25em 0.5em #888;
	top: -0.05em;
	left: -0.05em;
}
.widget:not(.status-dead):active
{
	box-shadow: 0.1em 0.1em 0.5em #888 inset;
	top: 0.05em;
	left: 0.05em;
}
.widget.status-critical
{
	background: #fbb;
	color: #fbb;
}
.widget.status-warn
{
	background: #ffa;
	color: #ffa;
}
.widget.status-good
{
	background: #cfb;
	color: #cfb;
}
.widget.status-dead
{
	background: #ccc;
	color: #888;
	cursor: initial;
	box-shadow: 0.1em 0.1em 0.5em #aaa inset;
	min-height: 0;
}
.widget.status-dead h2
{
	margin-bottom: -0.5em;
	background: #555;
}
.widget.status-dead > :not(h2)
{
	color: #888;
	display: none;
}
.widget.status-dead span::before,
.widget.status-dead span::after
{
	display: none;
}
h2
{
	background: #111;
	color: inherit;
	font-size: 1em;
	margin: -0.5em -0.5em 0.5em -0.5em;
	padding: 0.25em 0.5em;
	text-transform: capitalize;
}
.widget > :not(h2) > *
{
	color: #111;
	font-style: bold;
	font-size: 1.5em;
}
.bargraph
{
	display: block;
	background: #111;
	height: 0.5rem;
	position: absolute;
	bottom: 0;
	left: 0;
}
.bargraph::after
{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 99999px;
	background: rgba(0,0,0,0.3);
}
.percent::after,
.money::before,
.suffix,
.prefix
{
	opacity: 0.5;
}
.percent::after
{
	content: "%";
}
.money::before
{
	content: "$";
}
.widget .error
{
	font-size: 0.75rem;
}
@media (min-width: 250px)
{
	h1
	{
		padding-top: 0.1em;
		font-size: 2em;
	}
	.widget > :not(h2) > *
	{
		font-size: 2em;
	}
	[data-icon]::after
	{
		content: attr(data-icon);
		float: right;
		color: inherit;
		background: #111;
		border-radius: 2em;
		font-size: 1.5em;
		line-height: 1.5em;
		width: 1.5em;
		text-align: center;
	}
	main > section > label::before
	{
		width: 1.5em;
	}
}
@media (min-width: 500px)
{
	h1
	{
		text-align: left;
	}
	.widget
	{
		display: inline-block;
		min-width: 200px;
	}
	section
	{
		padding: 0.5em 0.5em 0 0.5em;
	}
	.widget.status-dead
	{
		min-height: 4em;
	}
	.widget.status-dead h2
	{
		margin-bottom: 0.5em;
		background: #111;
	}
	.widget.status-dead :not(h2)
	{
		display: block;
	}
	.widget
	{
		width: 200px;
	}
}
