*
{
	margin: 0;
	outline: none;
}
body
{
	font-family: sans;
	color: #111;
	background: #eee;
	margin: 0;	
}
h1, main > section
{
	box-shadow: 0.25em 0.25em 1em #ccc;
}
h1
{
	text-align: center;
	background: #111;
	color: #eee;
	margin: 0;
	padding: 0.1em 0.3em;
	font-size: 1.25em;
}
main > section
{
	display: block;
	margin: 0.5em;
	padding: 0.5em;
	background: #fff;
	color: #eee;
	border-radius: 0.5em;
	cursor: pointer;
	position: relative;
	transition: opacity 0.2s;
	min-height: 4em;
	vertical-align: top;
	overflow: hidden;
}
main > section > :not(h2)
{
	padding-bottom: 0.25em;
}
main > section.pending
{
	opacity: 0.5;
}
main > section:not(.status-dead):hover,
main > section:not(.status-dead):focus
{
	box-shadow: 0.25em 0.25em 0.5em #888;
	top: -0.05em;
	left: -0.05em;
}
main > section:not(.status-dead):active
{
	box-shadow: 0.1em 0.1em 0.5em #888 inset;
	top: 0.05em;
	left: 0.05em;
}
main > section.status-critical
{
	background: #fbb;
	color: #fbb;
}
main > section.status-warn
{
	background: #ffa;
	color: #ffa;
}
main > section.status-good
{
	background: #cfb;
	color: #cfb;
}
main > section.status-dead
{
	background: #ccc;
	color: #888;
	cursor: initial;
	box-shadow: 0.1em 0.1em 0.5em #aaa inset;
	min-height: 0;
}
main > section.status-dead h2
{
	margin-bottom: -0.5em;
	background: #555;
}
main > section.status-dead > :not(h2)
{
	color: #888;
	display: none;
}
main > section.status-dead span::before,
main > section.status-dead span::after
{
	display: none;
}
h2
{
	background: #111;
	color: inherit;
	font-size: 1em;
	margin: -0.5em -0.5em 0.5em -0.5em;
	padding: 0.25em 0.5em;
	text-transform: capitalize;
}
main > section > :not(h2) > *
{
	color: #111;
	font-style: bold;
	font-size: 1.5em;
}
.bargraph
{
	display: block;
	background: #111;
	height: 0.5rem;
	position: absolute;
	bottom: 0;
	left: 0;
}
.bargraph::after
{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 99999px;
	background: rgba(0,0,0,0.3);
}
.percent::after,
.money::before
{
	opacity: 0.5;
}
.percent::after
{
	content: "%";
}
.money::before
{
	content: "$";
}
@media (min-width: 250px)
{
	h1
	{
		font-size: 2em;
	}
	main > section > :not(h2) > *
	{
		font-size: 2em;
	}
}
@media (min-width: 250px)
{
	[data-icon]
	{
		color: inherit;
	}
	[data-icon]::after
	{
		content: attr(data-icon);
		float: right;
		color: inherit;
		background: #111;
		border-radius: 2em;
		font-size: 1.5em;
		line-height: 1.5em;
		width: 1.5em;
		text-align: center;
	}
	main
}
@media (min-width: 480px)
{
	h1
	{
		text-align: left;
	}
	main > section
	{
		display: inline-block;
		min-width: 200px;
	}
	main
	{
		padding: 0.5em;
	}
	main > section.status-dead
	{
		min-height: 4em;
	}
	main > section.status-dead h2
	{
		margin-bottom: 0.5em;
		background: #111;
	}
	main > section.status-dead :not(h2)
	{
		display: block;
	}
}
